h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li
                span 210601020-02 –Validar satisfacción del cliente según protocolos de la organización.