.container#respuesta

    .header-ecored
        h1 2. Respuesta a usuarios

    .card
        img.card-img-top(src="assets/images/pages/img4.png")
        .card-body
            p.mb-4 Los tiempos de respuesta son la clave para un buen inicio en la atención al cliente; el primer encuentro es fundamental, el comercial de la empresa tiene la responsabilidad de mostrar una cara amable, amigable y llegar en el momento que se espera por parte del cliente, por ejemplo: si el cliente llega a una de las oficinas de la empresa en busca de la adquisición de un producto o servicio debe ser tenido en cuenta lo antes posible porque la espera es un indicador que hace desesperar a muchas personas y entorpece el proceso. 
            p.mb-4 Las acciones comerciales que debe ajustar una empresa en su primer momento tienen que ver con los tiempos de servicio, se recomienda que cada empleado de la parte comercial mida el tiempo de servicio con cada uno de los clientes para tener claridad de cuántas personas se puede atender por día y con eso establecer la proyección de visitas recibidas que debe tener la empresa, esta proyección será directamente proporcional a la cantidad de empleados asignados en esta fundamental misión.
            table.mb-4
                thead
                    tr
                        td
                            img.img-fluid.img-min(src="assets/images/pages/img3.svg", style="max-width: 100%")
                        td
                            p.bg-t1 Si los tiempos de respuesta son cortos los resultados de un contacto exitosos son mayores y tendrán una atención mejor valorada por los clientes, se debe apuntar que cada cliente tiene el momento de la compra como un momento de éxtasis y en caso de que no se ajuste el contacto o la venta en el momento indicado éste puede cambiar de decisión en cuestión de minutos.
                    tr
                        td
                            img.img-fluid.img-min(src="assets/images/pages/img4.svg", style="max-width: 100%")
                        td
                            p.bg-t1 La coherencia empresarial debe apuntar a que los tiempos de servicio deben ser acordes en todos los campos de la empresa no es bien visto por parte de los usuarios que el servicio al cliente en ventas sea más rápido que el servicio al cliente en quejas y reclamos, aunque es de rescatar que los objetivos empresariales deben gran parte de su labor a la consecución de clientes nuevos que adquieran los servicios o productos de la empresa.
                    tr
                        td
                            img.img-fluid.img-min(src="assets/images/pages/img5.svg", style="max-width: 100%")
                        td
                            p.bg-t1 La estructura y el orden son fundamentales a la hora de una atención oportuna, las empresas deben enfocar sus esfuerzos en trabajar con sus clientes en un ciclo que tenga final y no en convertir al cliente en un rebote de asistencias hasta llegar a fatigarse y generar roces entre ellos y los empleados del servicio. La gestión de cada proceso o contacto con el cliente se debe medir como estadística a tener en cuenta por la empresa, se debe tener claro que los tiempos cortos son beneficiosos para los clientes, las empresas y los demás partícipes de los procesos.
                    tr
                        td
                            img.img-fluid.img-min(src="assets/images/pages/img6.svg", style="max-width: 100%")
                        td
                            p.bg-t1 La segmentación del cliente en los diferentes momentos del servicio logra enfocar los esfuerzos en la dirección indicada, por ejemplo: los diferentes departamentos de las empresas deben atender a una persona a la vez para un problema a la vez por empleado, sin necesitada de represar soluciones intentando ejecuciones paralelas para empresas con sistemas de información lineales; esto se logra con la buena actitud y capacitación del personal buscando siempre cerrar casos y no dejar citas abiertas de no ser necesario. Los indicadores de servicios datan la función principal en el contacto interpersonal conforme lo dice García (2016) “el servicio al cliente constituye para las organizaciones una de las grandes exigencias que demanda adecuada atención para lograr una impecable prestación del mismo”.
                    tr
                        td
                            img.img-fluid.img-min(src="assets/images/pages/img7.svg", style="max-width: 100%")
                        td
                            p.bg-t1 Las referencias de protocolos de atención son dadas por una cultura organizacional que debe tener toda empresa García (2016) “en toda organización existen factores internos que generan una cultura. Sin embargo, el origen de la cultura de servicio se debe al esfuerzo de las empresas por orientar todos sus factores internos hacia el servicio del cliente” permitiendo definir con claridad los tiempos de servicio y atención al cliente que serán informados desde el momento de la adquisición del cliente nuevo.
                    tr
                        td
                            img.img-fluid.img-min(src="assets/images/pages/img8.svg", style="max-width: 100%")
                        td
                            p.bg-t1 Se puede apoyar este servicio con software de trabajo como lo son los CRM o las agendas de trabajo que permiten mapear todos los puntos de contacto con el cliente y monitorear los procesos sistémicos e individuales con los que se requieren acciones especiales. Estas agendas y CRM optimizan notablemente los tiempos que se deben tener entre las partes involucradas en la prestación de los servicios.
            p.mb-4 Se debe entender y tener en cuenta que los puntos de atención de una empresa deben funcionar de manera sincrónica como evidencia de cumplimiento ya que todas las personas esperan ser especiales y atendidas de manera óptima se cual sea el métodos de comunicación que haya decidido tener con la empresa, estos métodos por lo general son:
            ul.list-p
                li Atenci&oacute;n telef&oacute;nica.
                li Atenci&oacute;n virtual.
                li Atenci&oacute;n presencial.
                li Atenci&oacute;n reactiva.
                li Atenci&oacute;n proactiva.
    
    br#manejo_contingencias
    .header-ecored
        h2 2.1 Manejo de contingencias

    .card
        img.card-img-top(src="assets/images/pages/img7.png")
        .card-body
            p.mb-4 Tanto empresas como clientes inician su relación contractual con las mejores energías, dispuesto siempre a la consecución de una relación que alivie el dolor de ambas partes;  sin embargo, en algunos casos estas energías cambian con el paso del tiempo;  cabe resaltar que muchas relaciones empresariales con los clientes llegan a un feliz término inclusive renovando contratos o permitiendo ser prosumidores y clientes de voz a voz que ayudan a la tarea más difícil de la empresa que es su comercialización.
            p.mb-4 El quehacer de cada una de las empresas a la hora de enfrentar una situación que no esté planificada dentro del contrato hace posible una relación fiel y firme entre los clientes el servicio y los medios empresariales,  cada empresa debe conocer sus puntos fuertes y débiles y trabajar en el fortalecimiento de los espacios comunicacionales con los clientes, esta es la primera contingencia el manejo de las relaciones directas con el cliente; Es recomendable no perder nunca el punto de contacto con la persona cliente ya que las razones se deben dar de manera directa y la atención personalizada logra una lectura no sólo de la comunicación verbal sino también de la comunicación corporal y de los niveles de satisfacción que evidencian las personas a la hora de ser atendidos.
            .row.bg-t4.mb-4
                .col-md-auto.col-12.m-auto
                    img.img-fluid.img-a(src="assets/images/pages/img9.svg", style="max-width: 70%")
                .col.m-auto
                    p La cultura del servicio a la que se hace referencia en renglones anteriores se evidencia en los momentos de crisis,  al  igual que las personas, las empresas también se vuelven más fuertes con la entrega de soluciones a momentos no planeados, tratando de lograr que estas no sean improvisaciones del todo.
            .row.bg-t2.mb-4.p-4
                img.img-fluid.mb-4(src="assets/images/pages/img5.png")
                p Es casi imposible definir cuándo se va a presentar una contingencia y más cuando se tienen fenómenos inesperados como lo son el alza en los precios por motivos que la empresa no puede manejar,  los temas de pandemias,  las relaciones interempresariales rotas,  clientes que siempre están inconformes y personas que se dedican a encontrar el error en cada uno de los procedimientos que se hacen por parte de las empresas y lo exhiben públicamente afectando visiblemente la imagen corporativa. No sobra decir que la empresa debe estar pendiente siempre de que está atendiendo gente y a la gente le gusta que la traten como gente,  la empresa debe trabajar para contingencia sentándose en el puesto del cliente e  intentar sentir lo que él está pasando y viviendo,  estos altos niveles de empatía logran caracterizaciones de servicio de óptimos resultados.
            p.mb-4 Todos los casos abiertos se deben cerrar,  la aplicabilidad de instrumentos que permitan la ganancia de tiempo y la trazabilidad por parte de la empresa para casos similares se hace fundamental ya que una incidencia se puede repetir varias veces con diferentes personas y en caso de tener las registradas se va a tener el paso a seguir y el desarrollo de un procedimiento efectivo que optimiza no sólo el tiempo sino la cantidad de recursos pasando por elevar los niveles de satisfacción del cliente.
            img.img-fluid.mb-4(src="assets/images/pages/img6.png")
            p.mb-4 Muchas de las consistencias en el cumplimiento del servicio se ven afectadas por la rutina como lo dice Arrellano (2017) “las acciones tendientes a la calidad en el servicio al cliente tienden a decaer por obra de la rutina y falta de comprensión de la importancia de esta en la estrategia de la firma y su proyección futura” y no se debe considerar contingencia el mal desempeño de un funcionario de la empresa ya que la capacitación dada debe permitir que la relación entre el empresario y el empleado genere tal confianza, que se pueda evidenciar el nivel de desgaste de la persona o su rutinaria tarea y así focalizar esfuerzos en que esto no suceda.
            p Cada empresa va desarrollando con el tiempo su libertad de servicio y su cultura organizacional para entender con claridad a sus clientes y brindarles soluciones oportunas a la hora de presentar inconsistencias minimizando así los casos en los que se tenga que romper la relación contractual y evitando en un altísimo porcentaje los problemas y las fatigas legales ya que el cliente por medio de las defensorías y diferentes superintendencias tiene oídos en los entes que rigen las empresas y si sabe utilizarlos puede llegar a afectar gravemente el funcionamiento de una de estas. 

    br#manejo_crisis
    .header-ecored
        h2 2.2 Manejo de crisis

    .card
        img.card-img-top(src="assets/images/pages/img8.png")
        .card-body
            p Las crisis son una realidad de todas las organizaciones y entre otras realidades están al sol del día, es por eso que se deben considerar y tener en cuenta dentro de todos los protocolos, algunas veces son debido a los procesos de la empresa y otras no pero siempre es bueno ajustar con el cliente esa realidad y mejorar la imagen.  Existen muchos tipos de crisis que pueden afectar el bienestar de una compañía, como las que derivan de desastres naturales, ataques terroristas, incendios en el almacén, lesiones en el trabajo o incluso clientes enojados. Los planes para hacer frente a las crisis suelen incluir un análisis SWOT (sigla inglesa de -fortalezas, debilidades, oportunidades y amenazas-) departamento por departamento, que sirve para identificar las vulnerabilidades y los desafíos potenciales.

    br#plan
    .header-ecored
        h2 2.3 Plan de continuidad

    .card
        img.card-img-top(src="assets/images/pages/img9.png")
        .card-body
            p Los planes de continuidad de negocios cubren una serie de situaciones, incluyendo la muerte de un ejecutivo clave o de un gerente, eventos de crisis que amenazan con cerrar las operaciones del negocio por un período prolongado de tiempo y cualquier otra situación financiera o evento inesperado que amenace con destruir o dañar la empresa. Los planes de continuidad implican generalmente pólizas de seguros que proporcionan el costo para mantener la empresa en funcionamiento, y el costo y la contratación de consultores, que son los especialistas en resolver los tipos de problemas que aquejan a la compañía.
    
    br#seguridad
    .header-ecored
        h2 2.4 Seguridad de los activos

    .card
        img.card-img-top(src="assets/images/pages/img10.png")
        .card-body
            p La propiedad intelectual también se destruye y se roba, la mayoría de los activos de este tipo se deben proteger porque son los que llevan los derechos morales de cada autor y entre esos derechos se guardan miles de secretos empresariales que mientras no estén patentados pueden ser vulnerables a robo. Complementando lo dicho Duff (2918) agrega que “esto también incluye la seguridad de la red informática interna de la empresa y sus archivos confidenciales. El plan de seguridad intenta bloquear las contingencias negativas que pueden producirse, pero cuando ocurren, el plan de contingencia de la empresa prescribe el respaldo de ciertos registros corporativos y clientes, así como activos intelectuales. Las estrategias legales también están incluidas en un plan de contingencia con el fin de ayudar a mitigar los daños causados por este tipo de eventos”.
    
    br#mala
    .header-ecored
        h2 2.5 Mala administración

    .card
        img.card-img-top(src="assets/images/pages/img11.png")
        .card-body
            p El fraude, el robo, los errores de operación, la mala gestión y el escándalo personal son crisis que requieren de estrategias especiales de relaciones públicas, así como de varios tipos de seguros. El manejo de estas crisis implica una cuidadosa atención a las consideraciones jurídicas y a la responsabilidad de los accionistas, y si no se maneja de forma inmediata con eficiencia y confianza, pueden arruinar la imagen profesional de la empresa y su capacidad para hacer negocios. Por esta razón, las empresas crean un sistema de pesos y contrapesos para evitar este tipo de problemas, además de la creación de planes de acción detallados para hacer frente a estas contingencias.
    
    br#reorganizacion
    .header-ecored
        h2 2.6 Reorganización

    .card
        img.card-img-top(src="assets/images/pages/img12.png")
        .card-body
            p Después de que lo peor ya ha pasado, el plan de contingencia de la empresa también explica cómo la empresa va a restablecer las operaciones normales y va a reorganizarse para limitar las posibles contingencias futuras. La reorganización para afrontar nuevos retos es importante si la empresa se ocupa de los acontecimientos negativos o de la presión inesperada al tener que expandir rápidamente la producción para funcionar a pesar de las exigencias de un pedido de compra inesperado.






            


