.container#peticiones

    .header-ecored
        h1 3. Peticiones, quejas, reclamos y sugerencias.

    .card
        img.card-img-top(src="assets/images/pages/img13.png")
        .card-body
            p.mb-4 El Sistema de Peticiones, Quejas, Reclamos y Sugerencias (PQRS) es una herramienta que permite conocer las distintas inquietudes y manifestaciones de los grupos de interés con el objetivo de fortalecer el servicio ofrecido y continuar en el camino hacia la excelencia.
            p.mb-4 Cualquier usuario que recibe un servicio cuenta con el derecho de presentar las oportunas peticiones, quejas, reclamos y sugerencias. Para ello, debe conocer el significado de cada uno de estos términos para poder ejercer dicho derecho correctamente:
            table.mb-4
                thead
                    tr
                        td
                            img.img-fluid.img-min(src="assets/images/pages/img10.svg", style="max-width: 100%")
                        td
                            p.bg-t1 #[b Petición:] actuación a través de la cual el usuario, de manera respetuosa, solicita a la organización cualquier tipo de información en relación con la prestación de servicio.
                    tr
                        td
                            img.img-fluid.img-min(src="assets/images/pages/img11.svg", style="max-width: 100%")
                        td
                            p.bg-t1 #[b Queja:] expresión o manifestación del usuario a la organización debido a la inconformidad que le genera la prestación del servicio recibido.
                    tr
                        td
                            img.img-fluid.img-min(src="assets/images/pages/img12.svg", style="max-width: 100%")
                        td
                            p.bg-t1 #[b Reclamo:] oposición o contrariedad presentada por el usuario con la finalidad de que la organización realice una revisión y una evaluación de una actuación relacionada con la prestación del servicio recibido en términos económicos.
                    tr
                        td
                            img.img-fluid.img-min(src="assets/images/pages/img13.svg", style="max-width: 100%")
                        td
                            p.bg-t1 #[b Sugerencia:] propuesta presentada por el usuario para incidir en el mejoramiento de un proceso de la organización cuyo objeto está relacionado con la prestación del servicio.
            p.mb-4 El enfoque posibilita la mejora de la capacidad de registro de las diferentes solicitudes, respuestas e interacciones entre los clientes y los trabajadores encargados de atender los distintos requerimientos. La implementación de cualquier sistema de atención de peticiones, quejas, reclamos y sugerencias se lleva a cabo con el objetivo de suplir las necesidades de las organizaciones, tanto públicas como privadas, en relación al sistema de peticiones, quejas, reclamos y solicitudes establecido.
            img.img-fluid.mb-4(src="assets/images/pages/img14.png")
            p Contar con un mayor control acerca de las peticiones, quejas, reclamos y solicitudes en la organización gracias al rastreo de un software permite el seguimiento de cada una de estas, además de los informes e indicadores que genera el sistema. Al mismo tiempo ofrece al usuario una importante herramienta de comunicación con la organización, facilitando así muchos procesos, colas y esperas físicas que puede llevar a cabo desde la comodidad de su casa o en cualquier lugar con un acceso a internet por medio de un software.