.container#encuesta

    .header-ecored
        h1 5. Encuesta

    .card
        img.card-img-top(src="assets/images/pages/img16.png")
        .card-body
            p.mb-4 El Sistema de Peticiones, Quejas, Reclamos y Sugerencias (PQRS) es una herramienta que permite conocer las distintas inquietudes y manifestaciones de los grupos de interés con el objetivo de fortalecer el servicio ofrecido y continuar en el camino hacia la excelencia.
            .row.bg-t2
                .col-3.m-auto
                    img.img-fluid.img-a(src="assets/images/pages/img21.svg", style="max-width: 100%")
                .col-md-9.col-12.m-auto
                    p.my-4 Una encuesta se puede entender como un estudio que se usa como instrumento de muestra representativa en una cantidad de gente específica en relación a un tema en especial el cual emplea procedimientos estandarizados para la formulación de preguntas, con el objetivo de obtener datos cuantitativos relacionados con un tema en particular.
            p.mt-4 A través de la aplicación de la encuesta se busca obtener, de forma ordenada y metódica, información acerca de las variables involucradas en el tema de investigación, partiendo de la participación de una población o muestra seleccionada, cuyo análisis permite revelar las opiniones, costumbres, actitudes, características y aspiraciones comunes de los encuestados.

    br#caracteristicas
    .header-ecored
        h2 5.1 Características de las encuestas

    .jumbotron.bg-white
        ul.list-p
            li La encuesta corresponde a una observaci&oacute;n indirecta de los hechos, cuya apreciaci&oacute;n se obtiene por medio de las declaraciones de los interesados.
            li Se trata de una t&eacute;cnica desarrollada con fines investigativos.
            li Facilita una aplicaci&oacute;n de car&aacute;cter masivo que a trav&eacute;s de un sistema de muestreo puede ampliarse hasta abarcar a toda una naci&oacute;n.
            li Permite que el estudio sociol&oacute;gico pueda llegar a los aspectos subjetivos de los integrantes de una sociedad.
    
    br#tipos
    .header-ecored
        h2 5.2 Tipos de encuesta
    
    .jumbotron.bg-white
        p Como lo dice la prestigiosa firma Questionpro (2018) “según los fines científicos o el objetivo principal de la investigación, las encuestas pueden ser:
        .sub-line.bg-t1
            h3 Exploratorias
            p Son aquellas que se utilizan para identificar las características generales del problema, así como para establecer suposiciones y opciones de trabajo. Además, permiten adquirir información para la estructuración de muestras y cálculos estadísticos.
        .sub-line.bg-t1
            h3 Descriptivas
            p Su objetivo principal es describir los fenómenos que caracterizan a una población.
        .sub-line.bg-t1
            h3 Explicativas
            p Toman como base la descripción de los fenómenos a evaluar y buscan explicar la relación existente entre estos y otros fenómenos.
        .sub-line.bg-t1
            h3 Predictivas
            p Se fundamenta en los estudios de analogía que determinan si dos o más variables se relacionan entre sí.
        .sub-line.bg-t1
            h3 Evaluativas
            .quote.my-2
            .quote__bar   
                .quote__bar__icon
                    img(src="assets/images/icons/quote_01.svg")
                .quote__bar__hr
            .quote__text
                p.mb-3 Buscan evaluar los resultados de un programa desarrollado comparándolos con los objetivos propuestos inicialmente, a fin de mejorar el proceso de toma de decisiones.
                p.text-right.mb-0 #[i Gonzalez (2017)]
            .quote__bar 
                .quote__bar__hr
                .quote__bar__icon
                    img(src="assets/images/icons/quote_02.svg")

    br#contenido
    .header-ecored
        h2 5.3 Según su contenido

    .card
        img.card-img-top(src="assets/images/pages/img17.png")
        .card-body
            p.mb-4 También hay una caracterización de las encuestas según su tipo de contenido.
            .sub-line.bg-t1
                h3 Encuestas referidas a hechos.
                p Se realizan a partir de sucesos o eventos materiales que han ocurrido de manera previa.
            .sub-line.bg-t1
                h3 Encuestas referidas a opiniones.
                p Su objetivo es indagar lo que una población en general piensa o considera respecto a un determinado tema. Este tipo de encuesta se lleva a cabo mediante un procedimiento de muestreo, aplicado a un grupo de personas seleccionadas, dado que esto facilita la rapidez en la recolección de los datos.

    br#metodo
    .header-ecored
        h2 5.4 Según el método o procedimiento de aplicación del cuestionario

    .jumbotron.bg-white
        table.mb-4
            thead
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img10.svg", style="max-width: 100%")
                    td
                        p.bg-t1 #[b Personales.] Es aquella que se realiza a través de una entrevista personal, la cual se efectúa en función de un tema en particular y con un cuestionario apropiadamente estructurado.
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img22.svg", style="max-width: 100%")
                    td
                        p.bg-t1 #[b Telefónicas.] Se trata de un método de entrevista en el que el encuestador formula las preguntas al encuestado por vía telefónica.
                tr
                    td
                        img.img-fluid.img-min(src="assets/images/pages/img8.svg", style="max-width: 100%")
                    td
                        p.bg-t1 #[b Online] Funciona de la misma manera que la encuesta telefónica, pero con la particularidad de que este tipo de cuestionario puede responderse a través de internet, bien sea por medio de correo electrónico, redes sociales, páginas web, etc.
        p.mb-4 Cómo realizar una encuesta:
        ol.k
            li Delimitar el objetivo de la encuesta. 
            li Especificar la poblaci&oacute;n a estudiar: Definir la informaci&oacute;n a recolectar.
            li Elaborar el cuestionario: Calcular la muestra
            li Recopilar los datos.
            li Registrar y procesar los datos: Analizar los resultados.
    
    br#preguntas
    .header-ecored
        h2 5.5 Tipos de preguntas de una encuesta

    .card
        img.card-img-top(src="assets/images/pages/img19.png")
        .card-body
            p.mb-4 Las preguntas son el centro del cuestionario y es normal entenderlas como el desarrollo fundamental que se requiere planear para la efectividad del instrumento, estas encuestas se elaboran con este tipo de preguntas:
            .sub-line.bg-t1
                h3 Preguntas abiertas
                p Se caracterizan por no delimitar posibles respuestas en el cuestionario, permitiendo que el encuestado responda con total libertad lo que mejor le parezca.
            .sub-line.bg-t1
                h3 Preguntas cerradas
                p Son las que involucran posibles opciones de respuesta, como por ejemplo “sí o no”.
            .sub-line.bg-t1
                h3 Preguntas de elección múltiple
                p Son aquellas que admiten más de una respuesta.

    .jumbotron.bg-t4     
        p Si quiere profundidad en los presentes conceptos de investigación por favor consulte el siguiente recurso:
        h3 Capítulo 1. Investigación de mercados en ambientes de información digitales.
        .row.justify-content-center
            .col-auto
                a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=930&pg=27" target="_blank").media-link
                    img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                    .media-link-title
                        p Recursos renovables y no renovables
