.container#trazabilidad

    .header-ecored
        h1 6. Trazabilidad del servicio 

    .card
        img.card-img-top(src="assets/images/pages/img18.png")
        .card-body
            p.mb-4 Según Teneda, W, (2016), la trazabilidad se define como “aquellos procedimientos preestablecidos y autosuficientes que permiten conocer el histórico, la ubicación y la trayectoria de un producto o lote de productos a lo largo de la cadena de suministros en un momento dado, a través de herramientas determinadas”. Por eso se puede inferir que es un conjunto de acciones, medidas y procedimientos técnicos que permite identificar y registrar cada producto desde su nacimiento hasta el final de la cadena de comercialización.
            .row.bg-t2
                .col-3.m-auto
                    img.img-fluid.img-a(src="assets/images/pages/img23.svg", style="max-width: 100%")
                .col-md-9.col-12.m-auto
                    p.mb-4 Dentro de la normativa existente en materia de trazabilidad encontramos disposiciones de carácter horizontal, que afectan a todos los productos alimenticios y, en su caso, a los piensos (hierbas), así como otras de carácter vertical, que marcan normas para grupos específicos de productos.
            p.my-4 Es posible distinguir entre dos tipos de trazabilidad cuando se busca el estado de un producto que circula dentro de una cadena logística. La interna, procedimientos internos que se deben tener en cuenta de la composición del producto, su manipulación, las máquinas empleadas y otros factores; la externa, por su parte, añade otros elementos para externalizar la información que surge de la trazabilidad interna. La trazabilidad, en definitiva, se basa en el de las huellas que deja un producto mientras transita por la de llegar al consumidor final.
            p La intención es desarrollar la facultad de repasar la trayectoria y el camino seguido por cada producto, algo que permitiría conocer de dónde vienen sus componentes, cuáles son los tratamientos que se le aplican y cómo se concreta la distribución. Esto posibilitará, a su vez, mejorar la calidad del producto y aumentar el valor para el consumidor final. La trazabilidad se aplica al sector agropecuario, agrícola, salud y construcción.
    
    .embed-responsive.embed-responsive-16by9.br6
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/YYuztIQETBc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    br#ventajas
    .header-ecored
        h2 6.1 Ventajas de la trazabilidad

    .jumbotron.bg-white
        ul.list-p
            li Aumento de la seguridad y beneficios econ&oacute;micos.
            li Pieza clave para la apertura de nuevos mercados
            li (exportaci&oacute;n).
            li Promueve la seguridad comercial y confianza de
            li consumidores.
            li Mejora la imagen comercial.
            li Optimiza la gesti&oacute;n de stock.
            li Permite demostrar con &ldquo;debida diligencia&rdquo; el origen de
            li un problema.
            li Ayuda para hacer frente a las reclamaciones de los clientes.
            li Facilita la localizaci&oacute;n, inmovilizaci&oacute;n y retirada
            li Efectiva de los productos.

    br#colombia
    .header-ecored
        h2 6.2 Trazabilidad en Colombia

    .jumbotron.bg-white
        .row
            .col-3.m-auto
                img.img-fluid.img-a(src="assets/images/pages/img24.svg", style="max-width: 100%")
            .col-md-9.col-12.m-auto
                p.mb-4 La penetración de trazabilidad de información es fundamental para el mejoramiento de la productividad y la calidad de los procesos logísticos en las empresas colombianas. Sólo con un soporte adecuado, podrá la economía colombiana reducir sus costos logísticos y competir con velocidad en los mercados nacionales e internacionales.

    br#tipos
    .header-ecored
        h2 6.3 Tipos de trazabilidad

    .jumbotron.bg-white
        p Parafraseando a Sánchez (2008) los tipos de trazabilidad son 3 como se muestra a continuación:
        .sub-line.bg-t1
            h3 Trazabilidad ascendente:
            p También llamada (hacia atrás): cuando se sabe cuáles son los productos que son recibidos en la empresa, por ejemplo por un proveedor, acotados con alguna información de trazabilidad, y quienes son los proveedores de esos productos.
        .sub-line.bg-t1
            h3 Trazabilidad interna o de procesos:
            p Trazabilidad dentro de la propia empresa o intratrazabilidad.
        .sub-line.bg-t1
            h3 Trazabilidad descendente (hacia adelante):
            p cuando se sabe cuáles son los productos producidos por la empresa, su tránsito e inclusive sus destinos y clientes. 
