.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso
            tbody
                tr
                    td Hair, Bush & Ortinau (2016).   Investigación de mercados en ambientes de información digitales. Cap 1. 
                    td Libro digital biblioteca Sena.
                    td 
                        a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=930&pg=27", target="_blank") <span class="fa fa-file" aria-hidden="true"></span> Ver