include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Arrellano, D. H. (2027).  La calidad en el servicio como ventaja competitiva. Vol. 3, pp. 72-83", "")

        +referenciaItem("Duff, V. (2018).  ¿Qué es un plan de contingencia de un negocio?", "https://es.scribd.com/document/374752920/Que-Es-Un-Plan-de-Contingencia-de-Negocio ")

        +referenciaItem("García, A. (2016). Cultura de servicio en la optimización del servicio al cliente Telos, vol. 18, núm. 3, pp. 381-398.", "")

        +referenciaItem("Hair, Bush & Ortinau (2016).   Investigación de mercados en ambientes de información digitales. Cap 1.", "http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=930&pg=27")

        +referenciaItem("Pérez, J y Gardey, A. (2010). Definición de reclamo.  Actualizado, (2020) de:", "https://definicion.de/reclamo/")

        +referenciaItem("Pérez, J y Merino. M (2009). Definición de petición, Actualizado. (2020) de:", "https://definicion.de/peticion/")

        +referenciaItem("Pérez, J y Merino. M (2014). Definición de sugerencia. Actualizado. (2020) de:", "https://definicion.de/sugerencia/")

        +referenciaItem("Pérez, J y Gardey. A, (2011). Definición de satisfacción del cliente. Actualizado. (2020) de:", "https://definicion.de/satisfaccion-del-cliente/")

        +referenciaItem("Pérez, J y Merino. M (2010). Definición de queja. Actualizado. (2020) de:", "https://definicion.de/queja/")

        +referenciaItem("Pérez, J y Merino, M, (2017). Definición de encuesta. Actualizado. (2020) de:", "https://definicion.de/encuesta/")

        +referenciaItem("Questionpro (2018). ¿Qué es la Investigación exploratoria? ", "https://www.questionpro.com/blog/es/investigacion-exploratoria/")